<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/home_icon"
        android:label="The Imperial"
        android:roundIcon="@drawable/home_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginPage"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".SignUpPage"
            android:parentActivityName=".LoginPage" />

        <activity android:name=".HomePage"
            android:parentActivityName=".LoginPage" />

        <activity android:name=".SoupM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".StarterM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".WorldCuisineM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".SizzlerM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".MainCourseM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".DalRiceBiryaniM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".RotiNaanParathaM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".DessertM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".AccompanimentsM"
            android:parentActivityName=".HomePage" />

        <activity android:name=".RatingPage"
            android:parentActivityName=".HomePage" />

        <activity android:name=".FeedbackPage"
            android:parentActivityName=".HomePage" />

    </application>

</manifest>